config/TeneoPip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://teneo.libis.be/schema/pip"
    xmlns:teneo="https://teneo.libis.be/schema/pip">
    <xs:annotation>
        <xs:documentation>This schema identifies the Teneo PIP format. PIP stands for Pre-Ingest Package and defines all the information that the Ingester needs to get it's job done.</xs:documentation>
    </xs:annotation>
    <xs:element name="pip">
        <xs:annotation>
            <xs:documentation>This is the root element of the PIP (Pre-Ingest Package) for the Teneo Ingester</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="teneo:work_item"/>
                <xs:element name="config" type="teneo:config" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>All configuration parameters for the PIP</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="collection" type="teneo:collection" maxOccurs="unbounded"
                    minOccurs="0"/>
                <xs:element name="ie" type="teneo:ie" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="teneo:namestring" use="required">
                <xs:annotation>
                    <xs:documentation>Unique identifier for the object this attribute is attached to.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="namestring">
        <xs:annotation>
            <xs:documentation>A safe string containing only alfanumeric characters and underscore</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_.-]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="config">
        <xs:sequence>
            <xs:element minOccurs="0" name="base_dir" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The root directory for all file/dir relative paths. Defaults to the directory thie SIP is in</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="metadata" type="teneo:metadata_default"/>
            <xs:element minOccurs="0" name="collection" type="teneo:collection_default"/>
            <xs:element minOccurs="0" name="ie" type="teneo:ie_default"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="collection">
        <xs:sequence>
            <xs:group ref="teneo:work_item" minOccurs="0"/>
            <xs:element minOccurs="0" name="metadata" type="teneo:metadata"/>
            <xs:element name="collection" type="teneo:collection" maxOccurs="unbounded"
                minOccurs="0"/>
            <xs:element name="ie" type="teneo:ie" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="teneo:identification">
            <xs:annotation>
                <xs:documentation>Label placeholders:
- %id% : collection id
- %title% : dc:title of the collection metadata
- %date% : dc:date of the collection metadata</xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute default="true" name="navigate" type="xs:boolean"/>
        <xs:attribute default="false" name="publish" type="xs:boolean"/>
    </xs:complexType>
    <xs:element name="newElement"/>
    <xs:complexType name="ie">
        <xs:sequence>
            <xs:group ref="teneo:work_item" minOccurs="0"/>
            <xs:element minOccurs="0" name="metadata" type="teneo:metadata"/>
            <xs:element minOccurs="0" name="ingest_model" type="teneo:ingest_model">
                <xs:annotation>
                    <xs:documentation>Specific Ingest Model to be used for this IE. If not present, the run/job Ingest Model will be used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="access_right" type="teneo:namestring">
                <xs:annotation>
                    <xs:documentation>Overwrites the ingest model's default access right for this IE.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="retention_policy" type="teneo:namestring">
                <xs:annotation>
                    <xs:documentation>Overwrites the ingest model's default retention policy for this IE.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="file" type="teneo:file">
                <xs:annotation>
                    <xs:documentation>List of all the files that are part of the object. Derivatives will be created and associated to the IE according to the Ingest Model. All files will be added to the IE in the order that they appear in this list.

It is possible to provide derivatives here as well. See the target_rep element of the file for more information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="teneo:identification">
            <xs:annotation>
                <xs:documentation>Label placeholders:
- %id% : ie id
- %title% : dc:title of the ie metadata
- %date% : dc:date of the ie metadata</xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
    </xs:complexType>
    <xs:complexType name="file">
        <xs:sequence>
            <xs:element name="path" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The absolute/relative file path for the referenced file. The relative path is using the PIP's base dir as a starting point.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="size" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The file's size in bytes</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="mimetype" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The MIME Type that the file is known or expected to have.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="checksum" type="teneo:checksum"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="alt_label">
                <xs:annotation>
                    <xs:documentation>File labels for logical structmaps; path should start with logical structmap name, then any path you want this file to have in the structmap. The last part of the path is the file label.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="teneo:label">
                            <xs:attribute default="/" name="separator" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Separator to use for the path of the label</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="target_rep">
                <xs:annotation>
                    <xs:documentation>Optionally this file can be assigned to a specific representation of the IE. The name of the representation - as specified in the Ingest Model - should be the content of this element.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="teneo:namestring">
                            <xs:attribute name="derivative_of" type="teneo:namestring">
                                <xs:annotation>
                                    <xs:documentation>Reference to the id of the file this file is derived from. The other file should have the id attribute filled in.

Only one file should reference a given file like this for a particular representation. i.o.w. You can only reference the other file once unless it is for another representation. Note that the XSD cannot enfoce this constraint, but if the constraint is not met, a successful ingest may not be possible.</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="group_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The groupID that this file will get in the METS file. Files with the same groupIDs in different representations will be linked in the IE Viewer, so it is important that if derived files are supplied the corresponding files get the same groupID here.

The default value is the file name without the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="teneo:identification">
            <xs:annotation>
                <xs:documentation>Label placeholders:
- %id% : file id
- %title% : dc:title of the file metadata
- %date% : dc:date of the file metadata</xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute default="false" name="thumbnail" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Use this file as thumbnail for the IE?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="metadata">
        <xs:sequence>
            <xs:choice minOccurs="1">
                <xs:element name="record" minOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Metadata supplied in-line in the PIP; a fully qualified Dublin Core record as CDATA or string</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="search">
                    <xs:annotation>
                        <xs:documentation>Search for metadata in one of the predefined metadata source systems</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="config" type="teneo:namestring" use="optional">
                            <xs:annotation>
                                <xs:documentation>The name of a metadata source configuration in the ingester</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="key" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>The lookup key to be used when searching for metadata; a search term or a absolute or relative file path</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="file">
                    <xs:annotation>
                        <xs:documentation>Metdata supplied in a separate file</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="path" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>The absolute/relative file path for the referenced file</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute default="DC" name="format" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="DC"/>
                                    <xs:enumeration value="MARC21"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute default="KULeuven" name="mapping">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="KULeuven"/>
                                    <xs:enumeration value="KADOC"/>
                                    <xs:enumeration value="Flandrica"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="prepend" type="teneo:dc_element">
                <xs:annotation>
                    <xs:documentation>DC element to prepend to the metadata record</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="append" type="teneo:dc_element">
                <xs:annotation>
                    <xs:documentation>DC element to append to the metadata record.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="label">
        <xs:annotation>
            <xs:documentation>Text associated to an element. It can contain placeholders for runtime information by surrounding them with '%' characters. A litteral '%' can be included with '%%'.
Placeholders that are available can vary depending on the context</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="checksum">
        <xs:simpleContent>
            <xs:extension base="teneo:hex_string">
                <xs:attribute name="algorithm">
                    <xs:simpleType>
                        <xs:restriction base="teneo:namestring">
                            <xs:enumeration value="CRC"/>
                            <xs:enumeration value="MD5"/>
                            <xs:enumeration value="SHA1"/>
                            <xs:enumeration value="SHA128"/>
                            <xs:enumeration value="SHA256"/>
                            <xs:enumeration value="SHA512"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="hex_string">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Fa-f]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="identification">
        <xs:attribute name="id" type="teneo:namestring" use="optional">
            <xs:annotation>
                <xs:documentation>Unique identifier for the object this attribute is attached to.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>A user-friendly name for the object this attribute is attached to, The label will typically be the name/title that the end-user will see in lists or viewers.

The default value is to use the same value as the id.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label_template" type="teneo:label">
            <xs:annotation>
                <xs:documentation>A template string that will be used to calculate a new value for the label at run-time. Placeholders can be used that reference information that may only be known at run-time:

%id% : value of the id field
%title% : dc:title of the metadata
%date% : dc:date of the metadata</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:group name="work_item">
        <xs:annotation>
            <xs:documentation>Contains properties and options, both key-value types and meaning depends on the context; often they allow to supply some uncommon ingester configuration options</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="key" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="option">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="key" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="collection_default">
        <xs:attribute default="true" name="navigate" type="xs:boolean"/>
        <xs:attribute default="false" name="publish" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="ie_default">
        <xs:sequence minOccurs="0">
            <xs:element minOccurs="0" name="ingest_model" type="teneo:ingest_model">
                <xs:annotation>
                    <xs:documentation>Specific Ingest Model to be used for this run. If not present, the job Ingest Model will be used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="access_right" type="teneo:namestring">
                <xs:annotation>
                    <xs:documentation>Overwrites the ingest model's default access right for the IEs in this PIP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="retention_policy" type="teneo:namestring">
                <xs:annotation>
                    <xs:documentation>Overwrites the ingest model's default retention policy for the IEs in this PIP.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="metadata_default">
        <xs:sequence>
            <xs:element name="search" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Search for metadata in one of the predefined metadata source systems</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="config" type="teneo:namestring" use="required">
                        <xs:annotation>
                            <xs:documentation>The name of a metadata source configuration in the ingester</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="file" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Metdata supplied in a separate file</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute default="DC" name="format" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="DC"/>
                                <xs:enumeration value="MARC21"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute default="KULeuven" name="mapping">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="KULeuven"/>
                                <xs:enumeration value="KADOC"/>
                                <xs:enumeration value="Flandrica"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="record" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Metadata supplied in-line in the PIP; a fully qualified Dublin Core record as CDATA or string</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="prepend" type="teneo:dc_element">
                <xs:annotation>
                    <xs:documentation>DC element to prepend to the metadata record</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="append" type="teneo:dc_element">
                <xs:annotation>
                    <xs:documentation>DC element to append to the metadata record.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ingest_model">
        <xs:sequence minOccurs="0">
            <xs:element minOccurs="0" name="overrides">
                <xs:annotation>
                    <xs:documentation>List of values of the Ingest Model configuration to override</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="entity_type" type="teneo:namestring"/>
                    <xs:attribute name="user_a" type="xs:string"/>
                    <xs:attribute name="user_b" type="xs:string"/>
                    <xs:attribute name="user_c" type="xs:string"/>
                    <xs:attribute name="status" type="teneo:status_type"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="teneo:namestring" use="required"/>
    </xs:complexType>
    <xs:simpleType name="status_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="SUPPRESSED"/>
            <xs:enumeration value="DONTPUB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="dc_element">
        <xs:attribute name="tag" type="xs:Name"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ingest_job">
        <xs:attribute name="name" type="teneo:namestring"/>
    </xs:complexType>
</xs:schema>
